*{
    background: #004d8f;
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: #fff; /* white */
}
.header{
    text-align: center;
}
.nav{
    text-align: right;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*---------input text---------*/
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
    
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 3x solid #000;
    color: black;
    background-color: #ededed;
    font-weight: bold;
    box-shadow: 1.5px 1.5px 1.5px #000;
}
label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.button{
    text-decoration: none;
}
.btn-sub{
    background-color: #ff4f28;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #000;
}
.btn-sub:hover{
    background: #ededed;
}
.btn-sub button{
    text-decoration: none;
    color: #000;
}
.col-2{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

